.grid-container{
		display: grid;
		grid-template-columns: 25% 42% 33%;
		margin-left: 150px;
	}
	.item{
		
	}
		table, td, th{
			border: 2px solid tomato;
			text-align: center;
			width:550px;
		}
		h2{
			color: blue;
			background-color: ;
			width: 60%;
			font: bold;
		}
	